<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Application</title>
</head>
<body>
    <div class="main-container">
    <h1>Application</h1>
    <p>This application is helpful for travelers who want to plan their trips based on weather conditions along their route. By entering the starting and ending points of your journey, you can receive up-to-date weather forecasts to ensure a safe and comfortable travel experience.</p>
    <h2>Our services</h2>
    <ul>
        <li>Weather forecast at the starting and ending points of your journey</li>
        <li>Weather forecast for each day of your journey</li>
        <li>Weather forecast for the route you will take</li>
        <li>Recommendations for places to visit based on the weather</li>
    </ul>
    <p><a href="/check_weather/0" class="main-menu-link">Let's go!</a></p>
</div>
</body>
</html>