body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f9fc;
    color: #333;
}

h1 {
    text-align: center;
    color: #555;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444;
}

form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #0056b3;
}

.result-container {
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-container p {
    font-size: 18px;
    color: #555;
}

.result-container a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.result-container a:hover {
    color: #0056b3;
}

.back_button {
    display: inline-block;
    display: block;
    margin: 0 auto;
    width: 50pt;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    border: 1px solid #007BFF;
    padding: 10px 20px;
    border-radius: 4px;
    background: #fff;
    
}
.main-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.main-menu-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #007BFF;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .2s ease;
}

.main-menu-link:hover {
    background: #007BFF;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #007BFF;
    color: #fff;
}

th:first-child, td:first-child {
    text-align: center;
}
